#cloud-config
hostname: picarx
manage_etc_hosts: true

users:
  - name: ubuntu
    groups: [adm, sudo]
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: false
    passwd: "$6$REPLACE_WITH_HASH"

ssh_pwauth: true

package_update: true
package_upgrade: true

packages:
  - openssh-server
  - curl
  - wget
  - git

runcmd:
  - systemctl enable ssh
  - systemctl start ssh
